# Please use this file to create env.vars
export REDSHIFT_S3_RO_ROLE=""  # role to allow RedShif acces S3
export DB_LOGIN="awsuser"
export DB_PASSWORD=""
export DB_HOST=""
export DB_PORT="5439"
export DB_NAME="dev"
