# Please use this file to create env.vars
#
# role to allow RedShif acces S3:
REDSHIFT_S3_RO_ROLE=
DB_LOGIN=awsuser
DB_PASSWORD=
DB_HOST=
DB_PORT=5439
DB_NAME=dev
LOG_BUCKET=s3://udacity-dend/log_data
SONG_BUCKET=s3://udacity-dend/song_data
